@import "_media/set.css";
.text_dispatch
{
	margin-top: 60px;
	margin-bottom: 50px;
}
.dispatch
{
	margin-top: 30px;
	text-align: center;
}
.dispatch__button
{
	margin-left: -130px;
	background: transparent;
	border: none;
	position: relative;
}
.dispatch_search
{
	margin-top: 20px;
	
}
.dispatch__search_text
{
	background-color: white;
	border: 5px Solid #84B5D3;
	
}

.dispatch__button::before
{
	height: 70%;
    width: 1px;
	position: absolute;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	left: 0;
	content: ' ';
	background: #71aaca;
}
.dispatch__search_text
{
	
	height: 40px;
	width: 80%;
	font-size: 12px;
	color: #97958f;
}
.dispatch__pad_text
{
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 60px;
}
.dispatch__button:hover
{
	background: #71aaca;
	width: 17%;
	color: White;
}
