@media (max-width: 610px)
{
	.promo-overlay
	{
		left: 20px!important;
		bottom: 5px !important;
		
	}
	.promo__hred_1
	{
		font-size: 15px;
	}
	.promo__hred_2
	{
		font-size: 12px;
	}
}
@media (max-width: 340px)
{
	.promo-overlay
	{
		left: 20px!important;
		bottom: 0px !important;
		
	}
	.promo__hred_1
	{
		font-size: 15px;
	}
	.promo__hred_2
	{
		font-size: 12px;
	}
}
