@media (max-width: 610px)
{
	.promo-overlay
	{
		left: 20px!important;
		bottom: 5px !important;
		
	}
	.promo_tex
	{
		margin-bottom: 5px;

	}
	.promo__hred_1
	{
		font-size: 22px!important;
	}
	.promo__hred_2
	{
		font-size: 16px!important;
	}
	.promo__hred_1
	{
		margin: 0px;
	}
	.promo_ver
	{
		margin-bottom:  20px;
		  margin-right: 15px;
	}
}

@media (max-width: 340px)
{
	.promo-overlay
	{
		left: 20px!important;
		bottom: 0px !important;
		
	}
	.promo__hred_1
	{
		font-size: 15px;
	}
	.promo__hred_2
	{
		font-size: 12px;
	}
	.promo_ver
	{
		    margin-right: 15px;
	}
}
