.promo_tex
{	
	background-color: #333132;
	border-color: #004179;
	color: White;
	margin-bottom: 5px;
}
.promo__hred_1, .promo_tex
{
	font-family: 'Roboto', sans-serif !important;
}
.dispatch__button:hover
{
	background: White;
}