.header
{
	background-image: url("picture/header.png");
	font-family: 'Roboto', sans-serif !important;
}

.drop_menu:hover
{
	color: Green;
	background: transparent;
}
.navbar-toggle
{
	background-color: Black;
	margin-top: -55px;
}
.icon-bar
{
	background-color: white;
}
.head_text_1
{
	font-size: 35px;
	margin: 1px;
	color: White;
	font-family: 'Roboto', sans-serif !important;
}
.head_text_2
{
	font-family: 'Roboto', sans-serif !important;
	font-size: 20px;
	font-size: 16px;
	color: White;
}
.search
{
	font-family: 'Roboto', sans-serif !important;
	float: inherit;
	margin-top: 32px;
}
.search__input
{
	color: White;
	width: 280px;
	background-color: transparent;
	margin-right: -10px;
	border: 0px;
	font-family: 'Roboto', sans-serif !important;
}
.search__input::placeholder
{
	color: White;
}
.search
{
	display: block;
	border:2px Solid White;
	font-family: 'Roboto', sans-serif !important;
}
.header
{
	background-color: blue;
	font-family: 'Roboto', sans-serif !important;
}
.Version
{
	margin-top: 80px;
	margin-left: 150px;
	font-family: 'Roboto', sans-serif !important;
}
.menu_Versia
{
	color: White;
	text-decoration: underline !important;
	float: right;	
	font-family: 'Roboto', sans-serif !important;
}
.button__search
{
	background-color: transparent;
	border: 0px;
	position: relative;
	font-family: 'Roboto', sans-serif !important;
}
.button__search::before
{
	height: 70%;
    width: 1px;
	position: absolute;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	left: 0;
	content: ' ';
	background: White;
	font-family: 'Roboto', sans-serif !important;
}
.button__search:hover
{
	background: White;
	color: #71aaca;
	font-family: 'Roboto', sans-serif !important;
}
@media (max-width:1694px) and (min-width: 994px) {
	.Version
	{
		margin-left: 150px;
		font-family: 'Roboto', sans-serif !important;
	}
	.navbar__text
	{
		margin-top: 20px;
		font-family: 'Roboto', sans-serif !important;
	}

	
	}
@media (min-width: 1694px)
{
		.Version
	{
		margin-left: 350px;
	}
	.head_text_2
		{
	font-size: 20px !important;
	color: White;
		}

	
}
@media (min-width: 1216px)
{
	.menu_primary_search
	{
		margin-top: 30px;
	}
}
.menu_Versia:hover
{
	text-decoration: none;
	color: White;
	
}