@media (min-width: 768px) and (max-width: 1199px)
{
	.nav__link_last
	{
		font-size: 10px;
	}
	.nav__link
	{
		font-size: 10px;
	}
	.logo
	{
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 768px)
{
	.head_text_1
	{
		font-size:20px;
	}
	.head_text_2
	{
		font-size:15px;
	}

	
}
@media (max-width: 767px)
{
		.drop_menu
	{
		color: White !important;
		font-size: 18px;
	}
		.navbar__text
	{
		text-align: center;
	}
}

@media (max-width: 768px) and (min-width: 570px)
{
	.navbar-toggle
	{
		background-color: Black;
		margin-top: -100px;
	}
	.navbar__text
	{
		margin-top: 30px;
	}
	
}
@media (max-width: 570px) and (min-width: 531px)
{
		.navbar-toggle
	{
		background-color: Black;
		margin-top: -90px;
	}
	
}
@media (max-width: 531px) and (min-width: 420px)
{
		.navbar-toggle
	{
		background-color: Black;
		margin-top: -70px;
	}
	
}
@media (max-width: 592px) and (min-width: 402px)
{
	.navbar__text
	{
		margin-top: 15px;
	}
}
@media (max-width: 705px) and (min-width: 592px) {
	.navbar__text
	{
		margin-top:30px;
	}
}
@media (min-width: 706px) and (max-width: 768px)
{
	.navbar__text
	{
		margin-top: 45px;
	}
}
@media (max-width: 1023px)
{
	.logo__image
	{
		margin-top: 15px;
	}
}

@media (max-width: 986px) and (min-width: 768px) {
	.navbar__text
	{
		text-align: center;
		margin-top: 50px;
	}
}
@media (max-width: 330px)
{
	.logo__image
	{
		margin-top: 25px;
	}
}
@media (min-width: 1204px)
{
.navbar__text
{
	margin-top: 20px;
}
}